.vscode/**
.vscode-test/**
out/**
node_modules/**
!node_modules/@dqbd/tiktoken/**/*
!node_modules/ignore/**/*
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
prepare_for_llm_vscode_extension_demo.gif
script_to_set_up_project.sh